<!DOCTYPE html>
<html>
	<head>
		<script type="module" src="/environment.js"></script>
	</head>
	<body>
	<H1> Testtesttest</H1>
	<H2>So ok, how the hell doesthis prototype work?</H2>
	<p>My name</p>
	<textarea id="my_id"></textarea>
	<button id="start">start</button>
	<p>destination name</p>
	<textarea id="other_id"></textarea>
	<p>chat & test id</p>
	<textarea id="chat_id">33</textarea>
	<textarea id="test_id">68</textarea>
	<button id="connect">connect</button>
	<p>text</p>
	<textarea id="text">hi [REDACTED]</textarea>
	<button id="send">send</button>
	<textarea id="receive"></textarea>
	<button id="print">print</button>
	</body>
</html>
